body {
    background: linear-gradient(135deg, #ddd0c8, #ddd1cc);
    min-height: 100vh;
    color: #1b2358;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;  
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    margin: 0;
    text-align: center;
}
h2 {
    margin-bottom: 2rem;
    font-weight: 900;
    text-shadow: 0 2px 8px rgba(0,0,0,0.5);
}
table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    color: #1b2358;
}
th, td {
    padding: 12px;
    text-align: center;
    border: 1px solid white;
}
th {
    background-color: rgba(0, 0, 0, 0.2);
}
tr:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
a {
    text-decoration: none;
}
.btn-back {
    color: white;
    margin-top: 20px;
    background: #252525;
    border-color: #252525;
    box-shadow: 0 4px 15px rgba(68, 68, 68, 0.5);
    border-radius: 6px;
    padding: 10px 20px 10px 20px;
}
.btn-back:hover {
    background: #4338bb;
    box-shadow: 0 6px 20px rgba(185, 28, 28, 0.7);
    color: white;
    text-decoration: none;
}