<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>User Dashboard - Smart Appointment System</title>
    <link rel="stylesheet" href="{{url_for('static', filename='user_css.css')}}" />

</head>
<body>
    <nav class="navbar">

    <div class="container">
        <!-- Links -->  
        <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('dashboard') }}">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{url_for('about')}}">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
        </li>
        </ul>
    </div>

    </nav>
    <h2>Welcome, {{ username }}!</h2>
    <div class="welcome-text">
        Choose an option below to proceed:
    </div>
    <div class="container-btns">
        {% if is_employee %}
            <a href="{{ url_for('view_appointments') }}" class="btn-option">View My Appointments</a>
            <a href="{{ url_for('logout') }}" class="btn-option logout-btn">Logout</a>
        {% else %}
            <a href="{{ url_for('book_appointment') }}" class="btn-option">Book Appointment</a>
            <a href="{{ url_for('cancel_appointment') }}" class="btn-option">Cancel Appointment</a>
            <a href="{{ url_for('view_appointments') }}" class="btn-option">View My Appointments</a>
            <a href="{{ url_for('logout') }}" class="btn-option logout-btn">Logout</a>
        {% endif %}
    </div>
</body>
</html>
<!-- 